[defaults]
inventory = inventory
remote_user = ubuntu
private_key_file = ../../../frankfurt_key_pair.pem
host_key_checking = False
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False